.navbar{
    width: 100%;
    height: 70px;
    background-color: red;
}
.navbar ul li{
    position: relative;
    top: 1.7rem;
    list-style: none;
}
.category{
    position: relative;
    left: 81rem;
    cursor: pointer;
}
.add{
    position: relative;
    left: 79rem;
    cursor: pointer;
}
.show{
    position: absolute;
    left: 25rem;
}
.btn{
    margin-left: 1rem;
    position: relative;
    top: 1rem;
    cursor: pointer;
}
.jan{
    width: 20rem;
    height: 15rem;
    position: relative;
    top: 7rem;
    margin-left: 2rem;
}